.input-compact {
  @apply w-full bg-slate-50 border border-slate-200 text-slate-700 text-sm rounded-lg focus:ring-2 focus:ring-indigo-500 focus:outline-none block p-2.5 transition-all h-11;
}
.btn-pagination {
  @apply h-10 w-10 flex items-center justify-center bg-white border border-slate-200 rounded-lg text-slate-700 font-bold hover:bg-slate-50 disabled:opacity-50 disabled:cursor-not-allowed shadow-sm transition-all hover:-translate-y-0.5;
}
